html,
body {
  font-family: /*'Segoe UI', 'Roboto', 'San Francisco', 'IBM Plex Sans',*/ sans-serif;
}

body {
  display: grid;
  place-items: center center
}

.container {
  width: 50vw;
}

.nav {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;

  .wide {
    flex: 1;
    font-weight: bold;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: calc(100% - 2em);
    margin: 1em;
  }
}